.container{
  min-height: 100vh;
}

.card{
  width: 250px;
  min-height: 250px;
  max-height: 330px;
  margin: 6px 6px;
  padding: 0 0 15px 8px;
  display: inline-block;
  border: none;
}

.card-text{
  line-height: 10px;
  font-size: .9em;
}

  .text-color{
  color: #000;
  }

  .price{
  font-size: 12px;
  line-height: 8px;
  vertical-align: top;
  }

  .banner{
  width: 100%;
  margin-bottom: 6px;
  }

  .card-img-top{
    max-width: inherit;
    max-height: 250px;
    min-height: 250px;
    object-fit: scale-down;
    padding: 10px;
  }
