header{
  float: left;
  display: block;
  margin: 0 2%;
  margin-top: 25px;
  width: 95%;
}

section{
  text-align: center;
}

h2{
  font-size: 1.7em;
  font-family: futura, helvetica, sans-serif;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

h2:after{
  content: close-quote;
  border-top: 3px solid #42d7f4;
  width: 22rem;
  height: 12px;
  display: block;
  position: absolute;
  margin-top: 5px;
}

.card{
  width: 250px;
  height: auto;
  margin: 20px 10px;
  display: inline-block;
}

img{
  max-width: inherit;
  height: auto;
}
