<div class="container-fluid">
  <img class="w-100 banner" src="../../../assets/images/site_images/2020107.jpg" alt="">
  <header>
    <h2>Newest Additions</h2>
  </header>
  <section>
    <div *ngIf="message" class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    <div *ngFor="let product of products" class="card">
      <a [routerLink]="['post/', product._id]">
        <img class="card-img-top" src="{{product.image}}" alt="{{product._id}}">
          <p class="card-text">{{ product.title }}</p>
          <p class="card-text text-color"><span class="price">$</span>{{ product.price }}</p>
      </a>
    </div>
  </section>
</div>
