<div class="container-fluid">
  <div *ngIf="message" class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  <div *ngFor="let product of products" class="card">
    <a [routerLink]="['post', product._id]">
      <img class="card-img-top" src="{{product.image}}" alt="{{product._id}}">
      <div class="card-body">
        <p class="card-text text-muted">{{ product.title }}</p>
        <p class="card-text text-muted">${{ product.price }}</p>
      </div>
    </a>
  </div>

</div>
