
.container-fluid{
  background-color: #ededed;
  padding: 6px 6px 30px 6px;
  min-height: 65vh;
}

.card-container{
  margin-top: 25px;
}

.card{
  width: 250px;
  min-height: 250px;
  max-height: 330px;
  margin: 6px 6px;
  padding-bottom: 10px;
  display: inline-block;
  border: none;
}

.card-text{
  line-height: 10px;
  font-size: .9em;
  text-align: center;
}

.card-img-top{
    max-width: inherit;
    max-height: 250px;
    min-height: 250px;
    object-fit: scale-down;
    padding: 10px;
}

img{
  max-width: inherit;
  height: auto;
}
