
footer{
  margin-top: 30px;
  width: 100%;
  height: 250px;
  background-image: url("../../../../assets/images/site_images/2882.jpg");
  background-size: cover;
}

.col-md-2{
  float: left;
}

.col-md-3{
  float: left;
}

.container{
  margin: 0 auto;
  padding: 35px 0;
}

.copyright{
  color: #c4c4c4;
  font-family: helvetica, sans-serif;
  font-weight: 200;
  margin-top: 10px;
  font-size: 14px;
}

h6{
  font-family: futura, helvetica, sans-serif;
  color: #027ddd;
  margin: 10px 0;
}

.fa{
  margin: 10px 8px 0 0;
  font-size: 18px;
  color: orange;
}

.justabout-text{
  color: orange;
  font-size: 1.85em;
}

.just-text{
  color: #027ddd;
}

.footer-links{
  font-size: 14px;
}

.footer-link{
  display: block;
  color: #c4c4c4;
  font-family: helvetica, sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.footer-link:hover{
  color: orange;
}
