<div class="container">
  <div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>
  <section *ngIf="results">
    <header>
      <h1>{{ product.title }}</h1>
    </header>
    <div class="content">
      <img src="../../../../../assets/images/{{product.image}}" alt="">
      <p>${{ product.price }}</p>
      <p>Description: {{ product.desc }}</p>
      <p class="date">posted on: {{ product.created_at | date: "MMM dd, yyyy" }}</p>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact Seller
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <p *ngIf="_authService.ifLoggedIn()">{{ product.created_by }}</p>
        <p *ngIf="!_authService.ifLoggedIn()">Please log in to contact seller</p>
      </div>
    </div>
    <div class="buttons">
      <a *ngIf="email === product.created_by" class="btn btn-info" [routerLink]="['edit/', product._id]" role="button">Edit</a>
      <a *ngIf="email === product.created_by" class="btn btn-danger" [routerLink]="['delete/', product._id]" role="button">Delete</a>
      <button type="button" class="btn btn-warning" (click)="goBack()" name="button">Back</button>
    </div>
  </section>
  <section>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#commentsField" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>Comments<i class="fa fa-comment-o"></i></span>
    </button>
    <div class="pos-f-t">
      <div class="collapse" id="commentsField">
        <div class="p-4">
          <div *ngIf="!_authService.ifLoggedIn()" class="notSignedIn">
            <p>Please sign in to post a comment</p>
          </div>
          <form [formGroup]="commentForm" *ngIf="_authService.ifLoggedIn()">
            <textarea class="form-control" name="comment" rows="3" cols="40" formControlName="comment"></textarea>
            <div [ngClass]="messageClass">
              <ul class="form-text text-muted">
                <li *ngIf="commentForm.controls.comment.errors?.required &&
                commentForm.controls.comment.dirty">Please enter a comment</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength &&
                commentForm.controls.comment.dirty) || (commentForm.controls.comment.errors?.minlength
                && commentForm.controls.comment.dirty)">Comment must be between 1-250 characters</li>
              </ul>
            </div>
          </form>
          <button *ngIf="_authService.ifLoggedIn()" [disabled]="!commentForm.valid || processing" (click)="postComment(product._id)" class="btn btn-primary" type="submit" name="button">Post</button>
        </div>
        <div class="commentsBoard">
          <h2>Comments<i class="fa fa-comment-o"></i></h2>
          <div class="commentsContainer">
            <p class="eachComment" *ngFor="let comment of product.comments">
              <span class="commentator">{{comment.commentator}}</span>
              <span class="posted_at">{{comment.created_at | date:"short"}}</span>
              <br />
              <span class="comment-text">{{comment.comment}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
