form{
width: 50%;
background-color: #f7f7f7;
padding: 40px;
margin: 0 auto;
color: #686868;
font-family: helvetica, sans-serif;
font-weight: 100;
}

.form-control:focus{
  border-color: none;
  box-shadow: none;
  outline: 0;
}

h2{
  color: orange;
  display: block;
  text-align: center;
  font-family: futura, arial, sans-serif;
}

.btn-post{
  margin: 0 auto;
  display: inline-block;
  background-color: #00bde8;
  color: white;
  padding: 5px 15px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

.btn-custom{
  margin: 0 auto;
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 5px 15px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

.form-text{
  font-size: .85em;
  color: #474747;
  padding: 3px;
}

li{
  list-style-type: none;
}
