<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['']">just<span class="about">about</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['electronics']">ELECTRONICS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['music']">MUSIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sports&amp;outdoors']">SPORTS &amp; OUTDOORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['fashion']">FASHION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cars&amp;parts']">CARS &amp; PARTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['kids']">KIDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home&amp;garden']">HOME &amp; GARDEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['misc']">MISC</a>
      </li>
      <button type="button" data-toggle="collapse" data-target="#searchBar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-search"></i>
      </button>
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <li *ngIf="!_authService.ifLoggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Log In</a>
      </li>
      <li *ngIf="_authService.ifLoggedIn()" class="nav-item">
        <a class="nav-link" id="logout-btn" (click)="logout()">Log Out</a>
      </li>
      <li *ngIf="!_authService.ifLoggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['signup']">Sign Up</a>
      </li>
      <li *ngIf="_authService.ifLoggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['profile']">Account</a>
      </li>
    </ul>
  </div>
</nav>
<div class="pos-f-t">
  <div class="collapse" id="searchBar">
    <div class="p-4">
      <form>
        <i class="fa fa-search searchbar-icon"></i><input type="search" class="search-input">
      </form>
      <button class="search-button " type="submit">CANCEL</button>
      <button class="cancel-button " type="submit">SEARCH</button>
    </div>
  </div>
</div>
